<div class="slogan-section dark-bg">
  <h1 class="default-font heading-text mdl-typography--text-center mdl-color-text--white">
    <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="64" height="64" id="svg4136" version="1.1" viewBox="0 0 64 64" class="logo--size-64">
      <defs id="defs4138">
          <font horiz-adv-x="1024" id="font6176">
              <font-face units-per-em="1024" id="font-face6178" font-family="SVGFont 1"/>
              <missing-glyph d="M0,0h1000v1024h-1000z" id="missing-glyph6180"/>
          </font>
      </defs>
      <metadata id="metadata4141"/>
      <g id="james-logo">
          <rect id="rect4684" class="james-logo-bg" width="64" height="64" x="0" y="0" style="fill-opacity:1;fill:#212121;opacity:1"/>
          <g id="text6172" style="-inkscape-font-specification:'sans-serif, Normal';fill-opacity:1;fill:#000;font-family:sans-serif;font-size:47.5px;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:0px;line-height:125%;text-align:start;text-anchor:start;word-spacing:0px;writing-mode:lr-tb">
              <path class="james-logo-text" d="m38.140869 40.048096q0 4.545898-2.783203 7.004394-2.76001 2.458496-7.421875 2.458496-1.113281 0-2.96875-0.20874-1.855469-0.185547-3.10791-0.463867l0-4.290772 0.255127 0q0.950928 0.324707 2.342529 0.672608 1.391602 0.3479 2.852783 0.3479 2.133789 0 3.386231-0.48706 1.275635-0.487061 1.878662-1.391602 0.626221-0.927734 0.788574-2.272949 0.185547-1.345215 0.185547-3.10791l0-20.15503-7.305908 0 0-3.66455 11.898193 0 0 25.559082z" id="path6183" style="-inkscape-font-specification:'sans-serif, Normal';fill:#fff;font-family:sans-serif;font-size:47.5px;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:125%;text-align:start;text-anchor:start;writing-mode:lr-tb"/>
          </g>
      </g>
    </svg>
    <br><br>
    Hi I'am James Robert Rooke
  </h1>
  <h6 class="default-font mdl-typography--text-center 24px-sub mdl-color-text--white">
    Software engineer at Paramount Life and General Insurance Corporation.
  </h6>
  <div class="btn-resume-download">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-ripple--center center-download-btn mdl-button--colored mdl-color--primary-contrast mdl-color-text--grey-700">
      <i class="material-icons md-18">&#xE2C4;</i> Download Resume
    </button>
  </div>
</div>
<div class="about-me--section mdl-color--white">
    <a name="about"></a>
    <div class="read--me">
      <h2 class="default-font heading-text mdl-typography--text-center mdl-color-text--grey-700">About Me</h2>
      <span class="text-spacer"></span>
      <p>
        I'am Software Engineer at Paramount Life and General Insurance Corporation. I'am from the country of the Philippines.<br><br>
        I'am currenty working at Paramount Direct department using Rails as a platform.
        I'am also an aspiring web designer and love beautiful and creative design from the web,
        mobile apps and typhography. I am always fascinated by simple yet great design.
      </p>
      <span class="text-spacer"></span>
      <h6>My Skills :</h6>
      <ul>
        <li>Ruby on Rails</li>
        <li>Git</li>
        <li>HTML/CSS</li>
        <li>jQuery</li>
        <li>Photoshop | Ai</li>
        <li>Bootstrap</li>
      </ul>
    </div>
</div>
<div class="contact--section bg-contact">
  <a name="contact"></a>
  <div class="read--me mdl-color--white form--field">
    <h2 class="default-font heading-text mdl-typography--text-center mdl-color-text--white form--heading">Say Hi!</h2>
    <form action="#" class="center--form">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form--fullwidth">
        <input class="default-font mdl-textfield__input" type="text" id="name" pattern="[A-Z,a-z, ]*">
        <label class="mdl-textfield__label mdl-color-text--grey-500" for="name">Full Name</label>
        <span class="mdl-textfield__error">Letters and spaces only</span>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form--fullwidth">
        <input class="default-font mdl-textfield__input" type="text" id="email_address" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
        <label class="mdl-textfield__label mdl-color-text--grey-500" for="email_address">Email Address</label>
        <span class="mdl-textfield__error">Email Address Invalid</span>
      </div><br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form--fullwidth">
        <textarea class="default-font mdl-textfield__input" type="text" rows= "3" id="sample5"></textarea>
        <label class="mdl-textfield__label mdl-color-text--grey-500" for="sample5">Message</label>
      </div>
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-ripple--center mdl-color-text--grey-700" name="Send">
          <i class="material-icons md-18">send</i> Send Message
      </button>
    </form>
    <span class="text-spacer"></span>
  </div>
</div>
