<div class="blog--section">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="read--me">
        <h1 class="mdl-typography--display-3-color-contrast">Edit Post</h1>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
